@media screen and (prefers-color-scheme: dark) {
  body {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  header .logo {
    background-image: url("/assets/logo-dark.svg");
  }
  
  header nav a:hover {
    color: var(--color-black);
    background-color: var(--color-secondary-lighter);
  }

  header .social a.github:hover {
    color: #161b22;
    background-color: var(--color-white);
  }
}