@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background-primary: #1A1A1A;
    --color-background-secondary: #262626;
    --color-background-tertiary: #333333;
    --color-text-primary: #F2F2F2D9;
    --color-text-secondary: #F2F2F2A6;
    --color-text-tertiary: #F2F2F259;
    --color-primary: #D7B546;
  }

  section#about::before {
    background-image: url("./../assets/images/bg-dark.jpg");
  }
}