:root {
  --color-background-primary: #F2F2F2;
  --color-background-secondary: #E5E5E5;
  --color-background-tertiary: #D9D9D9;
  --color-text-primary: #1A1A1AD9;
  --color-text-secondary: #1A1A1AA6;
  --color-text-tertiary: #1A1A1A59;
  --color-primary: #8736D9;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: var(--color-text-primary);
  background-color: var(--color-background-secondary);
}

h1 {
  font-size: 3rem;
  line-height: 3.375rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}